@charset "utf-8";
/* CSS Document */
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "microsoft yahei","Helvetica", simhei,simsun,sans-serif;
	background-image: linear-gradient(to right bottom, #f2b834, #ff9c61, #ff8c95, #ff8dc5, #d19ae4, #b4a4ee, #96acf1, #7cb2ec, #76baee, #72c1ef, #71c7ef, #73ceee);
}
a{
	text-decoration: none;
}
figcaption{
	font-size: 24px;
	text-align: center;
	margin: 20px;
}
.player{
	width: 1500px;
	height: 900px;
	margin: 0 auto;
	border-radius: 4px;
	background: #000  url("images/loading.gif")no-repeat;
	position: relative;
	text-align: center;
}
video{
	display: none;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
video::-webkit-media-controls{
	display: none !important;
}
.controls{
	width: 1460px;
	height: 40px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 4px;
	position: absolute;
	left: 25%;
	margin-left: -350px;
	bottom: 5px;
	z-index: 10000000;
	opacity: 1;
}
.player:hover .controls{
	opacity: 1;
}
.controls .switch{
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #FFF;
	position: absolute;
	top: 11px;
	left: 11px;
}
.controls .expand{
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #fff;
	position: absolute;
	right: 11px;
	top: 11px;
}
/*进度条*/
.progress{
	width: 1250px;
	height: 10px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #555;
	cursor: pointer;
	position: absolute;
	top: 16px;
	left: 45px;
}
.progress .loaded{
	width: 0;
	height: 100%;
	background-color: #999;
}
.progress .line{
	width: 0;
	height: 100%;
	background-color: #F4B862;
	position: absolute;
	top: 0;
	left: 0;
}
.vol{
	width: 4px;
	height: 50px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	cursor: pointer;
	position: absolute;
	top: -11px;
	left: 640px;
}
.progress .bar{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.timer{
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: 1300px;
	top: 11px;
	color: #FFF;
	font-size: 14px;
}
.footer{
		background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
		width: 1450px;
		height: 50px;
		margin-left: 21%;
		padding: 10px;
		font: 30px "myFont";
		color: white;
		list-style: none;
		text-align: center;
		line-height:40px;
	}